<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FlacPath" value="C:\Program Files (x86)\Flac\bin\flac.exe"/>
    <add key="LamePath" value="C:\Program Files (x86)\LAME\lame.exe"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>