<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DecoderPath" value="C:\Program Files (x86)\Flac\bin\flac.exe"/>
    <add key="DecoderArguments" value="--silent --decode --stdout -"/>
    <add key="EncoderPath" value="C:\Program Files (x86)\LAME\lame.exe"/>
    <add key="EncoderArguments" value="--silent --preset standard --id3v2-only --pad-id3v2-size 256 - -"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>